@page "/Personagens/novo"
@using DungeonWorldFIcha.Models
@using DungeonWorldFIcha.Services
@inject PersonagemService PersonagemService
@inject NavigationManager Navigation
@inject MarkdownService MarkdownService

@rendermode InteractiveServer


<PageTitle>Novo</PageTitle>

<h3 class="mb-3">Criar</h3>


<EditForm Model="@personagem" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                
                <div class="mb-3 row">
                    <div class="form-floating col p-1">

                        <InputText class="form-control" id="floatingName" placeholder="Nome" @bind-Value="personagem.Nome"/>
                        <label class="form-label" for="floatingName">Nome</label>
                    </div>
                    <div class=" form-floating col-md p-1">

                        <InputNumber class="form-control" id="floatingNivel" placeholder="Nível" @bind-Value="personagem.Nivel"/>
                        <label class="form-label" for="floatingNivel">Nível</label>
                        
                    </div>

                </div>
                
                <div class="mb-3 input-group">
                    <span class="input-group-text">Pv</span>
                    <InputNumber class="form-control" placeholder="Pv" aria-label="Pv" @bind-Value="personagem.Pv"/>
                    <span class="input-group-text">Armadura</span>
                    <InputNumber class="form-control" placeholder="Armadura" aria-label="Armadura" @bind-Value="personagem.Armadura"/>
                    <span class="input-group-text">Dano:</span>
                    <InputNumber class="form-control" @bind-Value="personagem.DadoDano"/>
                </div>

                
            </div>
            
            
            <div class="col-sm-3">
               
                <h5>Habilidades</h5>
                <div class="mb-3 input-group">
                    <span class="input-group-text" >For:</span>
                    <InputNumber class="form-control" @bind-Value="personagem.Habilidade.Forca" style="appearance: textfield;" />
                    <span class="input-group-text">Des:</span>
                    <InputNumber class="form-control" @bind-Value="personagem.Habilidade.Destreza" style="appearance: textfield;" />
                    <span class="input-group-text">Car:</span>
                    <InputNumber class="form-control" @bind-Value="personagem.Habilidade.Carisma"  style="appearance: textfield;"/>
                </div>
                
                <div class="mb-3 input-group">

                    <span class="input-group-text">Con:</span>
                    <InputNumber class="form-control" @bind-Value="personagem.Habilidade.Constituicao" style="appearance: textfield;" />
                    <span class="input-group-text">Int:</span>
                    <InputNumber class="form-control" @bind-Value="personagem.Habilidade.Inteligencia" style="appearance: textfield;" />
                    <span class="input-group-text">Sab:</span>
                    <InputNumber class="form-control" @bind-Value="personagem.Habilidade.Sabedoria" style="appearance: textfield;" />
                </div>

               

            </div> <!-- Primeira Linha -->
            
            <div class="row mb-3">
                
                <div class="mb-3 col-md-6">
                    <label class="form-label">Descrição:</label>
                    <InputTextArea class="form-control" style="height: 20rem" @bind-Value="_descricao" @oninput="AtualizarDescricao" />
                </div>
                
                <div class="mb-3 col-md-6">
                    <div class="mb-2">Preview</div>
                    
                    <div class="card " style="min-height: 20rem">
                        <div class="card-body">


                            @Descricao
                        </div>


                    </div>

                </div>
            </div>
            
        </div>
        <button type="submit" class="btn btn-primary mt-3">Salvar Personagem</button>
    </div>
</EditForm>



@code {
    
    private Personagem personagem = new ()
    {
        Habilidade = new Habilidade()
    };
    private string? _descricao = string.Empty;
    private string? _descricaoDigest = string.Empty;

    
    public MarkupString  Descricao
    {

        get => new MarkupString(MarkdownService.ConvertToHtml(string.IsNullOrWhiteSpace(_descricaoDigest) ? _descricaoPlaceholder : _descricaoDigest));
        set
        {
            _descricaoDigest = value.ToString();
        }
    }
   
    private Habilidade _habilidades = new();

    private async Task HandleValidSubmit()
    {
        personagem.Descricao = _descricaoDigest;
        personagem.Habilidade = _habilidades;
        await PersonagemService.AdicionarPersonagem(personagem);
       Navigation.NavigateTo("/personagens"); // Redireciona para a página inicial
    }

    private void AtualizarDescricao(ChangeEventArgs e)
    {
        _descricao = e.Value?.ToString() ?? "";
        Descricao = new MarkupString(MarkdownService.ConvertToHtml(
            string.IsNullOrWhiteSpace(_descricao) ? _descricaoPlaceholder : _descricao
        ));
    }



    private string _descricaoPlaceholder = @"Markdown é um jeito facil de escrever HTML

Veja o [guia](https://www.markdownguide.org/cheat-sheet/)   

---

é possível escrever código:

```js
var a = 123;
console.log(a);
```

É fácil escrever seus itens em uma lista, por exemplo

- item 1
- item 2
- [ ] item 3
                         ";
    
}