
<nav class="navbar navbar-expand bg-dark">
    
    <div class="container ">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="personagens/">
                <span class="bi bi-people-fill me-2" aria-hidden="true"></span> Personagem
            </NavLink>
        </div>
        
    </div>
    
</nav>
