@page "/markdown"
@using Markdig
@using Microsoft.AspNetCore.Components

<PageTitle>Editor Markdown</PageTitle>

<h1>Editor Markdown</h1>

<p>Digite Markdown no campo abaixo e veja a pré-visualização.</p>

@code {

    private static string markdown = Markdig.Markdown.ToHtml("### Bom dia\n *Enfase*");
    private MarkupString renderedMarkdown = new MarkupString(markdown);
}

<h3>Editor</h3>

<h3>Pré-visualização</h3>
<div class="markdown-preview">@renderedMarkdown</div>